@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-sm-10">
       <!-- Content -->
        <div id="calendar"></div>

        <!-- Modal -->
        
    </div>
    
</div>
@section scripts{
    
    @* TODO: pass data *@

<script src="~/Scripts/App/Calendar.js"></script>
}