@{
    ViewBag.Title = "Home Page";
    var auth = User.Identity.IsAuthenticated;
}
@using ThePlanner.Models


<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-success alert-dismissible" style="display:none" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="center-block" id="messageBox"></div>
        </div>
        <!-- Edit modal -->
        <div id="target"></div>

        <!-- Create modal-->
        <div class="modal fade" id="event-modal" tabindex="-1" role="dialog" aria-labelledby="event-modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="event-modalTitle">Добавить мероприятие</h3>
                    </div>
                    <form id="theForm" class="form-horizontal">
                        <div class="modal-body">
                            <!-- Form -->

                            <div class="form-group">
                                <label for="topic" class="col-md-2 control-label">Тема</label>
                                <input type="text" class="form-control" name="topic" id="topic" value="Новая тема" required />
                            </div>

                            <div class="form-group">
                                <label for="date" class="col-md-2 control-label">Дата</label>
                                <input type="date" class="form-control" name="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                            </div>

                            <div class="form-group">
                                <label for="time" class="col-md-2 control-label">Время</label>
                                <input type="time" class="form-control" name="time" value="@DateTime.Parse("12:00").ToString("hh:mm")" id="time" required />
                            </div>

                            <div class="form-group">
                                <label for="MembersLimitCount" class="col-md-2 control-label">Число участников</label>
                                <input type="text" class="form-control" value="5" name="count" id="count" required />
                            </div>

                            <div class="form-group">
                                <label for="location" class="col-md-2 control-label">Расположение</label>
                                <input type="text" class="form-control" value="Minsk, Belarus" name="location" id="location" required />
                            </div>

                            <div class="form-group">
                                <fieldset id="buildinput" class="col-sm-12">
                                    <legend>Дополнительные поля</legend>
                                </fieldset>
                                <input type="button" value="Добавить" class="add btn btn-primary col-sm-offset-5" id="add" />
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <button id="submitBtn" type="submit" class="btn btn-primary">Сохранить</button>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- Content -->
        <div id="calendar"></div>
    </div>

</div>
@section scripts{

    <script>
        var IsAuthorized = "@auth";
        var dataGlobal = [];
    </script>
    <script src="~/Scripts/App/input.manager.js"></script>
    <script src="~/Scripts/App/calendar.js?version=@DateTime.Now.Ticks.ToString()"></script>
}